@import '_layout.scss';

* {
    font-family: "Open Sans", sans-serif;
}

body {
    background: whitesmoke;
    margin: 0;
}

h1, h2, h3 {
    font-weight: bold;
    text-decoration: underline;
    text-align: center;
}

article {
    margin: 0px 20%;
    text-align: center;

    p {
        text-align: left;
        font-size: medium;
    }

    img {
        width: 100%;
    }

    .info {
        border-radius: 8px;
        border: 2px dashed whitesmoke * 0.85;
        padding: 5px 15px;
        background-color: whitesmoke * 0.95;
    }

    .goto-part {
        position: relative;
        width: 100%;
        height: 50px;

        a {
            font-weight: bold;
            text-decoration: none;
            color: blue;
            padding: 5px;
            border: 1px solid whitesmoke;
            border-radius: 4px;
        }

        a:hover {
            color: white;
            border-color: gray;
            background-color: gray;
        }

        .left {
            position: absolute;
            left: 0;
        }

        .right {
            position: absolute;
            right: 0;
        }
    }

}


/* Inline code */
.code {
    font-family: monospace, "Open Sans", sans-serif;
    background-color: rgb(211, 211, 211);
    border: 1px solid rgb(211, 211, 211);
    border-radius: 4px;
    padding-left: 6px;
    padding-right: 6px;
}

.collapsible-content .code {
    background-color: rgb(200, 200, 200);
    border: 1px solid rgb(200, 200, 200);
}



/* Collapsible block */
.collapsible {
    background-color: rgb(180, 180, 180);
    cursor: pointer;
    padding: 15px;
    width: 100%;
    border: 1px solid rgb(180, 180, 180);
    border-radius: 4px;
    outline: none;
    text-align: left;
}

.collapsible:hover {
    background-color: #ccc;
    border-color: #ccc;
}

.collapsible-active {
    border-radius: 4px 4px 0px 0px;
}

.collapsible-content {
    padding: 15px;
    overflow: hidden;
    display: none;
    background-color: rgb(218, 218, 218);
    border: 1px solid rgb(218, 218, 218);
    border-radius: 0 0 4px 4px;
}

pre {
    border: 2px solid rgb(202, 202, 202);
    border-radius: 4px;
}


@media screen and (max-width: 675px) {
    article {
        margin: 0px 5%;
        
        p, a {
            font-size: small;
        }
    }

    h1, h2, h3 {
        font-size: large;
    }
}

