@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

$bg-color: rgb(126, 237, 252);
$bg-color2: #00B1F6;

$font-color: white;
$hyperlink-color: yellow;
$main-font: "Space Mono", monospace;
$secondary-font: "OCR A", sans-serif;

$mobile-screen: screen and (max-width: 675px);

@function lerp($start, $end, $progress) {
    @return $start + ($end - $start) * $progress;
}

@import '_layout.scss';

* {
    font-family: $main-font;
}

a {
    color: $hyperlink-color;
}

body {
    background: $bg-color;
    margin: 0;
}

#page-content {
    max-width: 900px;
    margin: auto;
}

.wave-animation {
    width: 100%;
    height: 18px;
    margin: 0px;
    padding: 0px;

    &[flipped] {
        transform: scaleY(-1);
    }
}

h1, h2, h3 {
    font-weight: bold;
    color: $font-color;
    text-align: center;
}



article, .text {
    margin: 0px auto;
    padding: 2em;
    max-width: 800px;
    text-align: center;

    p {
        font-size: medium;
        text-align: left;
    }

    img {
        width: 100%;
    }

    hr {
        width: 100%;
        height: 0px;
        border: 2px solid rgb(180, 180, 180);
        border-radius: 2px;
        margin: 30px auto;
    }

    .info {
        border-radius: 8px;
        border: 2px dashed $bg-color * 0.85;
        padding: 5px 15px;
        background-color: $bg-color * 0.95;
    }

    .goto-part {
        position: relative;
        width: 100%;
        height: 50px;

        a {
            font-weight: bold;
            text-decoration: none;
            color: $bg-color2 * 0.8;
            padding: 5px;
            border-radius: 4px;
            transition: all 0.1s linear;
            
            &:hover {
                color: $font-color;
                background-color: $bg-color2;
            }
        }


        .left {
            position: absolute;
            left: 0;
        }

        .right {
            position: absolute;
            right: 0;
        }

        .center {
            position: absolute;
            left: 50%;
            transform: translate(-50%, 0);
        }
    }

}

/* Inline code */
.code {
    font-family: monospace, "Open Sans", sans-serif;
    background-color: $bg-color2;
    color: $font-color;
    border-radius: 4px;
    padding-left: 6px;
    padding-right: 6px;
}


/* Collapsible block */
.collapsible {
    background-color: $bg-color2;
    cursor: pointer;
    padding: 15px;
    width: 100%;
    border: none;
    border-radius: 4px;
    outline: none;
    text-align: left;
    color: $font-color;
}

.collapsible:hover {
    background-color: $bg-color2 * 0.9;
}

.collapsible-active {
    border-radius: 4px 4px 0px 0px;
}

.collapsible-content {
    display: none;
    padding: 15px;
    overflow: hidden;
    background-color: $bg-color * 0.89;
    border-radius: 0 0 4px 4px;
}


pre {
    border: 2px solid rgb(202, 202, 202);
    border-radius: 4px;
}

.infocard {
    background-color: $bg-color2;
    margin: 1em;
    border-radius: 8px;

    .infocard-text {
        width: 80%;
        margin: auto;
        overflow: auto;
        
        h1, p {
            color: $font-color;
            width: 100%;
            text-align: center;
        }
    }
    
    .infocard-grid {
        display: grid;
        padding: 1em;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1em;
        align-items: center;

        a {
            position: relative;
            width: 100%;
            transition: transform linear 0.1s;
            
            img {
                color: white;
                width: 100%;
                border-radius: 4px;
            }

            span {
                position: absolute;
                left: 10px;
                bottom: 10px;
                color: #00000000;
                transition: color linear 0.2s;
            }
            
            &:hover {
                img {
                    filter: blur(1px);
                }
                
                span {
                    color: white;
                }
            }
        }
    }
}

@media #{$mobile-screen} {
    article {
        p, a {
            font-size: small;
        }
    }

    h1, h2, h3 {
        font-size: x-large;
    }

    .infocard .infocard-grid {
        grid-template-columns: 1fr 1fr;
    }
}

